.specplayer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#stats {
  font-family: Oswald-Medium, Oswald;
  font-weight: 500;
  font-size: 14px;
}

#specShots, #specGoals, #specAssists, #specSaves {
    font-family: Oswald-SemiBold, Oswald;
    font-weight: 600;
    font-size: 24px;
}

#specName {
    font-family: Oswald-SemiBold, Oswald;
    font-size: 26px;
    font-weight: 600;
}