.specplayer {
    font-family: Industry;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#specShots, #specGoals, #specAssists, #specSaves {
    font-family: Industry;
    font-size: 20px;
    font-weight: bold;
}

#specName {
    font-family: Industry;
    font-size: 28px;
    font-weight: bold;
}