.team1-card, .team2-card {
    font-family: MontserratNormal;
    font-size: 20px;
    font-weight: bold;
}

.team1-container {
    position: fixed;
    left: 0;
}

.team2-container {
    position: fixed;
    right: 0;
}

.playercard-container {
    position: fixed;
    bottom: 250px;
}