.controlpanel-form {
  font-family: Industry;
  font-weight: 700;


  color: white;
  background: url("https://cdn.discordapp.com/attachments/820605164431081474/1100716885793849386/CECC_Texas_static_BG.png");
  /*background: url("https://cdn.discordapp.com/attachments/543593775335866369/1100719229658992741/ktad_meme.png");*/
  background-size: cover;

}

