.controlpanel-form {
  font-family: Industry;
  font-weight: 700;


  color: white;
  background: url("https://cdn.discordapp.com/attachments/543593775335866369/1100719229658992741/ktad_meme.png");
  background-size: cover;

}

